{% extends "base.html" %}

{% block content %}
<div class="bg-white p-6 rounded shadow-md">
    <h2 class="text-3xl font-semibold mb-6">Добро пожаловать, администратор!</h2>
    <p class="text-lg text-gray-700 mb-4">
        Мы рады приветствовать вас на административной панели управления системой To-Do List. 
        Эта панель предназначена для управления пользователями и их заданиями, предоставляя вам 
        полный контроль над всеми аспектами платформы.
    </p>
    <p class="text-lg text-gray-700 mb-4">
        В правом верхнем углу экрана вы найдете меню навигации, которое позволит вам легко и быстро 
        перемещаться между разделами:
    </p>
    <ul class="list-disc list-inside mb-4">
        <li><strong>Admin:</strong> Главная страница административной панели, где вы сейчас находитесь.</li>
        <li><strong>Users:</strong> Раздел для управления пользователями. Здесь вы можете просматривать список всех пользователей, создавать новых пользователей и удалять их.</li>
        <li><strong>Tasks:</strong> Раздел для управления заданиями пользователей. Здесь вы можете просматривать и управлять заданиями, назначенными каждому пользователю, добавлять новые задачи и удалять ненужные.</li>
    </ul>
    <p class="text-lg text-gray-700 mb-4">
        Ваша роль как администратора позволяет вам следить за тем, чтобы пользователи эффективно использовали платформу, и поддерживать порядок в системе. Вы можете добавлять новых пользователей, назначать им задачи, а также удалять их учетные записи, если это необходимо.
    </p>
    <p class="text-lg text-gray-700 mb-4">
        Мы рекомендуем регулярно проверять активность пользователей и их задания, чтобы поддерживать актуальность информации и оперативно реагировать на запросы. Если у вас возникнут вопросы или понадобится помощь, наша команда технической поддержки всегда готова помочь.
    </p>
    <p class="text-lg text-gray-700">
        Благодарим вас за вашу работу и вклад в улучшение нашей платформы. Желаем вам успешной работы!
    </p>
</div>
{% endblock %}
